/* General */
html {
  font-family: "Montserrat";
}

/* Buttons */
.button {
  font-size: 16px;
  padding: 10px 30px;
  text-decoration: none;
  color: #555;
  background-color: #fff0;
  transition: color 0.3s;
  border: none;
  border-radius: 3px;
}

.button:hover {
  color: #222;
}

/* Outlined */
.outline {
  font-family: "Montserrat";
  border: 1px solid #ddd;
  padding: 15px;
  margin: 5px;
  border-radius: 3px;
  background-color: #fff;
}

/* Highlighted */
.highlight {
  color: #fff;
  background-color: #222;
}

.highlight:hover {
  color: #ddd;
}

/* Hoverable */
.hover:hover {
  background-color: #eee;
}
